  /* Light theme custom colors */
.md-theme-default {
  --md-primary-fg-color: #8AAEC9; /* Primary color */
  --md-accent-fg-color: #FCC47A; /* Accent color */
}

/* Dark theme custom colors */
.md-theme-slate {
  --md-primary-fg-color: #2B6173; /* Primary color */
  --md-accent-fg-color: #CAA375; /* Accent color */
}
