
:root {
    /* 浅色模式 */
    --md-default-fg-color: #FFFFFF;
    --md-default-bg-color: #ffffff;
    --md-primary-fg-color: #8AAEC9; /* 棕色 */
    --md-accent-fg-color: #FCC47A; /* 浅绿色 */
  }
  
  [data-md-color-scheme="dark"] {
    /* 深色模式 */
    --md-default-fg-color: #1F2129;
    --md-default-bg-color: #1F2129; /* 深灰蓝 */
    --md-primary-fg-color: #2b6173; /* 巴伐利亚绿 */
    --md-accent-fg-color: #CAA375; /* 金蓟黄 */
  }
  