
:root {
    /* 主色 */
    --md-primary-fg-color:        #8AAEC9; /* 浅色模式：法国蓝 */
    --md-primary-fg-color--light: #8AAEC9; /* 浅色模式：法国蓝变体 */
    --md-primary-fg-color--dark:  #2b6173; /* 深色模式：苍穹蓝 */
  
    /* 强调色 */
    --md-accent-fg-color:         #F08F00; /* 浅色模式：藏红花金 */
    --md-accent-fg-color--light:  #FCC47A; /* 浅色模式：强调色变体 */
    --md-accent-fg-color--dark:   #CAA375; /* 深色模式：金蓟黄 */
  
    /* 背景色 */
    --md-default-bg-color:        #FFFFFF; /* 浅色模式：白色 */
    --md-default-bg-color--light: #FFFFFF; /* 浅色模式：米白色 */
    --md-default-bg-color--dark:  #1F2129; /* 深色模式：深灰蓝 */
  }
  