@media (prefers-color-scheme: light) {
    body {
      background-color: #FFFFFF; /* 背景白色 */
      color: #000000; /* 字体黑色 */
    }
  
    .md-header {
      background-color: #8AAEC9; /* 法国蓝导航栏 */
      color: #FFFFFF; /* 白色文字 */
    }
  
    .md-header a:hover {
      color: #F08F00; /* 藏红花金 */
    }
  }
  
  /* 深色模式自定义 */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #1F2129; /* 背景深灰蓝 */
      color: #FFFFFF; /* 字体白色 */
    }
  
    .md-header {
      background-color: #1a5467; /* 深蓝导航栏 */
      color: #FFFFFF; /* 白色文字 */
    }
  
    .md-header a:hover {
      color: #CAA375; /* 金蓟黄 */
    }
  }